MT5SignalSender/Connected Services/ServiceReference/TraderService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="TraderService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:4321/MT5SignalReceiver/Service/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:4321/MT5SignalReceiver/Service/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ITraderService_SendSignal_InputMessage">
    <wsdl:part name="parameters" element="tns:SendSignal" />
  </wsdl:message>
  <wsdl:message name="ITraderService_SendSignal_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendSignalResponse" />
  </wsdl:message>
  <wsdl:message name="ITraderService_StrategyAddedOnChart_InputMessage">
    <wsdl:part name="parameters" element="tns:StrategyAddedOnChart" />
  </wsdl:message>
  <wsdl:message name="ITraderService_StrategyAddedOnChart_OutputMessage">
    <wsdl:part name="parameters" element="tns:StrategyAddedOnChartResponse" />
  </wsdl:message>
  <wsdl:portType name="ITraderService">
    <wsdl:operation name="SendSignal">
      <wsdl:input wsaw:Action="http://tempuri.org/ITraderService/SendSignal" message="tns:ITraderService_SendSignal_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITraderService/SendSignalResponse" message="tns:ITraderService_SendSignal_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="StrategyAddedOnChart">
      <wsdl:input wsaw:Action="http://tempuri.org/ITraderService/StrategyAddedOnChart" message="tns:ITraderService_StrategyAddedOnChart_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITraderService/StrategyAddedOnChartResponse" message="tns:ITraderService_StrategyAddedOnChart_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ITraderService" type="tns:ITraderService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SendSignal">
      <soap:operation soapAction="http://tempuri.org/ITraderService/SendSignal" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StrategyAddedOnChart">
      <soap:operation soapAction="http://tempuri.org/ITraderService/StrategyAddedOnChart" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TraderService">
    <wsdl:port name="BasicHttpBinding_ITraderService" binding="tns:BasicHttpBinding_ITraderService">
      <soap:address location="http://localhost:4321/MT5SignalReceiver/Service/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>